body {
    background-color: #fbfbfa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header, section {
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 10px 20px;
}

header .logo {
    display: block;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
}

header p {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    color: #515151;
    margin-bottom: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #8d8d8d;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px #CDCFD1;
    cursor: pointer;
}

header button {
    margin-top: 5px;
    width: 90px;
    font-size: 13px;
    height: 20px;
    background-color: #CDCFD1;
    color: #000;
}

header button:hover {
    border-color: #706f6f;
    background-color: #aaabac;
}

section {
    max-width: 600px;
    padding: 30px 20px;
}

section form {
    margin: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

section button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    height: 30px;
    width: 100%;
    max-width: 323px;
    border: 1px solid #212e50;
    background-color: #212e50;
    color: #fff;
}

section button:hover {
    border-color: #1c243b;
    background-color: #1c243b;
}

section form .box {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #8d8d8d;
    border-radius: 3px;
    padding: 10px;
    background-color: #fff;
}

section form .box label {
    width: 100%;
    max-width: 140px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

section form .box select, section form .box input {
    padding: 0;
    margin: 0;
    padding-left: 5px;
    width: 100%;
    max-width: 140px;
    font-size: 16px;
    height: 30px;
    border: 1px solid #8d8d8d;
    border-radius: 3px;
    box-sizing: border-box;
}

section form .box .subbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
}

footer p {
    width: 100%;
    font-size: 12px;
    text-align: center;
}

footer a {
    text-decoration: none;
}

.opentext {
    margin-top: 10px;
    margin-bottom: 20px;
}

#more {
    display: none;
}
